@model Web.Models.MenuViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link rel="stylesheet" href="src/styles.css" />
    <title>Restaurant Menu</title>
</head>

<body>
    <main class="container">
        @foreach (var category in Model.Categories)
        {
            <div class="menu">
                <h2 class="menu-group-heading">@category.Name</h2>
                @foreach (var product in Model.Products)
                {
                    <div class="menu-group d-flex flex-row">
                        <div class="menu-item">
                            <img src="@product.ImageUrl"
                                 alt="Black Placeholder Image"
                                 class="menu-item-img" />
                            <div class="menu-item-text">
                                <h3 class="menu-item-heading">
                                    <span class="menu-item-name">@product.Title</span>
                                    <span class="menu-item-price">@product.Price</span>
                                </h3>
                                <p class="menu-item-desc">
                                    @product.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        }
        
    </main>
    <script src="src/app.js"></script>
</body>
</html>
